main {
  min-height: 80vh;
}

.bold {
  font-weight: bold;
}

.rating span {
  margin: .1em;
}

/* 
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon {
  line-height: 100%;
  align-self: flex-start;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon {
  line-height: 100%;
  align-self: flex-start;
} */